 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');



.align{
  margin-top: 0%;
  margin-bottom: 20px;


}




.container1 {
 background: #fff;
text-align: center;
padding: 10px;
padding-left: 20px;
height: 40px;
font-size: 14px;
border-radius: 50px;
box-shadow: inset 6px 6px 6px #fff inset -6px -6px 6px rgb(63, 207, 6);



   
 margin-left: 40%;

    width: 300px;
    height: 600px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #6189b1, -14px -14px 20px rgb(238, 243, 247);

  }  


.custom_select {

  display:inline-flex;
  justify-content: flex-start;
}




.card {
  display: inline-flex;
  width: 250px;
  height: 480px;
  margin-left:  100px;
  margin-top: 8px;
  
  background: #fff;
  box-shadow: 5px 5px 15px rgb(230, 176, 15);
  border-radius: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(122, 22, 22, 0.06);
  transition: 0.5s ease;


 }
  
 .search{
  margin-top: 0% ;
  display: inline-block;
 }

 body {

  /* background-image: linear-gradient(to right, rgba(53, 218, 12, 0), rgb(58, 220, 96)); */


}



  
.image {
  width: 120%;
  height: 60%;


}

.searchTerm {
  display: inline-block;


  margin-left:10px ;
padding-top: 10px;
padding-bottom: 10px;
  border: 5px solid #04AA6D;
  display: inline-block;



  color: #9DBFAF;
}

.searchTerm:focus {
  background-color: rgb(237, 242, 235);;
}



.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
margin-top: 0%;
display: inline-flex;

background-color: rgba(38,137,13,1);
  color: white;
  text-align: justify;
  padding-right:10px;
  padding-left:10px;
  justify-items: center;

  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(38,137,13,1);

  
}


.text {
  padding: 30px;
}

.Choose {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

.Filter_data {

  background-color: rgba(38,137,13,1);
  display: inline-block;
  padding: 3%;
color: #fff;
  box-shadow: 0 12px 35px 0 rgba(220, 192, 7, 0.25);

 



  
}
.Filter_nationality{
 
  margin-left: 7%;
  color: #f1f0ea;
  box-shadow: 0 12px 35px 0 rgba(220, 7, 7, 0.25);
  background-color: rgba(38,137,13,1);
  display: inline-block;


  box-shadow: 0 12px 35px 0 rgba(220, 192, 7, 0.25);

 
  height: 5%;

  

  

}
/* CSS Form  */



  
  button:hover {
    box-shadow: none;
  }
  input::placeholder {
    color: gray;
  }
  label {
    margin-bottom: 4px;
  }
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
  /* label, input {

    width: 100%;
    height: 400x;

    border: none;
    outline: none;
    box-sizing: border-box;


  } */
  .formbuttonback{
   
     
    padding-left: 19px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
     
        border: none;
        outline: none;
        box-sizing: border-box;
        color: #fff;
       
        background-color:#04AA6D;
  }
  
  .formbutton{
 position:fixed;
margin-left: 60%;
 
padding-left: 19px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 15px;
 
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #fff;
   
    background-color: rgba(38,137,13,1);
    
  }
  .btn-default{
  
    display: inline-flex;
margin-top: 10%;
background-color: rgba(38,137,13,1);
  color: white;
  text-align: justify;
padding: 6%;
padding-left: 30%;
padding-right: 32%;

  justify-items: center;

  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4ch;
  }
  .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
  }
 


  .cardcontainer{
display: flex;


}



/* table  */



 .header_table {
  margin-top: 50px;
margin-left:  100px;

	width:50%;

  color: rgb(16, 13, 13);

	padding:(half-spacing-unit * 1.5) 0;


}  


td{

  border: 1px solid rgba(134,188,37,1);
  font-weight: normal;
  text-align: center;
  color: rgb(21, 14, 14);
  width:10%;
  margin-top: 50px;
  margin-left:  330px;
  padding:(half-spacing-unit * 1.5) 0;
}

th {
    margin-top: 50px;
margin-left:  330px;

  background-color: rgba(38,137,13,1);
  border: 1px solid rgba(134,188,37,1);
  font-weight: normal;
  text-align: center;
  color: white;
  width:10%;
  margin-top: 50px;
  margin-left:  330px;
  padding:(half-spacing-unit * 1.5) 0;
  
  
 
} 


.nationalitybtn{
margin-left: 8%;
}

/* toggle slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(38,137,13,1);
}

input:focus+.slider {
  box-shadow: 0 0 1px #04aa6d;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mainbtn{

margin-top: 2%;
width: 10%;
background-color: rgba(38,137,13,1);
  color: white;

  padding: 10px;


  font-size: 20px;
  border: none;
  cursor: pointer;
border-radius: 5%; 
}

.form-control {
  background: #fff;

padding: 10px;
padding-left: 20px;
height:25px;
font-size: 14px;
border-radius: 50px;
border: none;
width: 200px;
box-shadow: inset 6px 6px 6px #fff inset -6px -6px 6px rgb(63, 207, 6);
}

#dropdown {
  display: none;
}
#buttonnation{
  display: none;
} #button {
  display: none;
} 
.toggle{
  font-size: 5rem;
	 

  background-color: rgba(38,137,13,1);
	   

	    font-weight: 700;
    
}
.togglebutton{
  display: flex;
  margin-top: 10%;
}
